body {
  background-color:rgb(255,255,255);
  background-size:auto;
  font-size:20px;
  color:rgb(0,0,0);
}

/* ================================= HEADER ================================= */

.BlurBG {
  /* Add the blur effect */
  filter:blur(0px);
  -webkit-filter:blur(0px);
  /* Center and scale the image nicely */
  position:absolute;
  top:0%; 
  left:0%;
  right:0%;
  height:30%; /* Thus BodyBox is 20% top */
  opacity:0.8;
  background-repeat:no-repeat;
  background-size:cover;
}
.TextBox {
  font-size:25px;
  position:absolute;
  border:1.5px solid rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
  transform:translate(-50%,-50%);
  width:60%;
  top:10%;
  left:50%;
  padding:0px;
  text-align:center;
  z-index:2;
}
.TextBox h1 {
  margin-bottom:5px; /* Adjust this value to control spacing below the h1 */
}
.TextBox h5 {
  margin-top:0px;   /* Adjust this value to control spacing above h5 */
  margin-bottom:0px; /* Adjust spacing below each h5 */
}
.LinkBox {
  font-size:22px;
  position:absolute;
  border:1.5px solid rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
  transform:translate(0,-50%);
  top:25%;
  left:0;
  right:0;
  padding:5px;
  text-align:center;
  z-index:2;
  /*
  border:1.5px solid rgba(222,222,222,1);
  background-color:rgba(0,0,0,0.5);
  width:80%;
  left:50%;
  */
}
.FigureCaptionBox {
  position:absolute;
  top:1%;
  left:1%;
  width:auto;
  padding:1px;
  padding-left:10px;
  padding-right:10px;
  background-color:rgba(0,0,0,0.5);
  text-align:center;
  z-index:2;
}

/* ================================= BODY ================================= */

.BodyBox {
  position:absolute;
  top:30%;
  left:50%;
  width:900px;
  transform:translate(-50%,0%);
  z-index:2;
  background-color:rgba(0,0,0,0);
}
.BodyBoxTest {
  position:absolute;
  left:50%;
  width:900px;
  transform:translate(-50%,0%);
  z-index:2;
  background-color:rgba(255,255,255,0);
}
.ContentsBox {
  border:1px outset white;
  background-color:rgba(255,255,255,0.1);
  display:inline-block;
  /*
  padding-left:30px;
  padding-right:30px;
  */
}
.ContentsLinks:hover {
  color:rgba(222,222,222,0.5);
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
}
.biblist {
    margin-bottom:10px;
}
.flex-container {
    display: flex;
    justify-content:space-between;
    align-items:center;
    line-height:normal;
}

/* ================================= FOOTER ================================= */

.FooterBox {
  position:absolute;
  left:0%;
  right:0%;
  width:100%;
  height:auto;
  padding-top:15px;
  padding-bottom:15px;
  text-align:center;
  background-color:rgba(255,255,255,1);
  font-size:12px;
}

/* ================================= LINKS ================================= */

a:link, 
a:visited, 
a:hover, 
a:active {
  color:rgba(0,0,0,1);
  background-color:transparent;
  text-decoration:none;
}
.MainLinks:hover {
  text-decoration:underline;
  color:rgba(222,222,222,1);
  text-shadow:0px 0px 5px rgba(222,222,222,0);
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
}
.BodyLinks {
  text-decoration:none;
  border-bottom:1px dotted white;
  font-size:20px;
}
.ReferenceLink {
  text-decoration:none;
  border-bottom:1px dotted white
}
.BodyLinks:hover,
.ReferenceLink:hover {
  color:rgba(0,0,0,0.5);
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
}
/* 
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0} to {top:0; opacity:1}
}
 */
.AffiliationLinks {
  padding-left:25px;
  padding-right:25px;
  background-color:rgba(255,255,255,0);
  transition:transform 0.3s;
  margin:10px 20px;
  height:50px;
  width:auto;
  border:0;
  cursor:pointer;
}
.AffiliationLinks:hover {
  -ms-transform:scale(1.1); /* IE 9 */
  -webkit-transform:scale(1.1); /* Safari 3-8 */
  transform:scale(1.1);
}
.HiddenLinks{
  color:rgba(222,222,222,1);
  background-color:transparent;
  text-decoration:none;
  cursor:text;
}
.FigureCaption {
  text-decoration:none;
  line-height:2;
  font-size:13px;
}

/* ================================= SLIDESHOW ================================= */

.slideshow {
  display:none;
}
.slideshow-img {
  display:block;
  height:500px;
  margin:auto;
}
.slideshow-img-line {
  display:inline-block;
  width:400px;
  margin:auto;
}
.slideshow-img-pano {
  display:block;
  width:100%;
  height:auto;
  margin:auto;
}
.slideshow-container {
  position:relative;
  height:auto;
  margin:auto;
}
.dot {
  cursor:pointer;
  height:13px;
  width:13px;
  margin:0 2px;
  background-color:#bbb;
  border-radius:50%;
  display:inline-block;
  transition:background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color:#717171
}
/* Fading animation */
.fade {
  -webkit-animation-name:fade;
  -webkit-animation-duration:1.5s;
  animation-name:fade;
  animation-duration:1.5s;
}
@-webkit-keyframes fade {
  from {opacity:0.4} to {opacity:1}
}
@keyframes fade {
  from {opacity:0.4} to {opacity:1}
}
/* Auto fade slideshow */
.fade-auto{
    -webkit-animation-name:fade-auto;
    -webkit-animation-duration:5s;
    animation-name:fade-auto;
    animation-duration:5s;
}
@-webkit-keyframes fade-auto {
    0%,100% {opacity:0}
    10%,70% {opacity:1}
}
@keyframes fade-auto {
    0%,100% {opacity:0}
    10%,70% {opacity:1}
}
/* Over picture text caption */
.textoverslidesdiv {
  float:left;
  position:absolute;
  z-index:1000;
  height:auto;
  width:100%;
  padding-left:25px;
  background-color:rgba(0,0,0,0.0);
  color:rgba(255,255,255,1);
}
.textoverslidestext {color:white}
.usaskspan1 {
  background-color:rgb(255,255,255);
  padding-left:15px
}
.usaskspan2 {
  background-color:rgb(11,106,65);
  padding-left:15px;
  padding-right:15px
}
.uwospan1 {
  background-color:rgb(255,255,255);
  padding-left:15px
}
.uwospan2 {
  background-color:rgb(79,38,131);
  padding-left:15px;
  padding-right:15px
}
.ryersonspan1 {
  background-color:rgb(234,171,0);
  padding-left:15px
}
.ryersonspan2 {
  background-color:rgb(0,52,120);
  padding-left:15px;
  padding-right:15px
}

/* ================================= SLIDESHOW ================================= */

.BodyToggle {
    text-decoration:none;
    border-bottom:1px dotted white;
    cursor:pointer;
}
.BodyToggle:hover {
    color:rgba(222,222,222,0.5);
    -webkit-transition-duration:0.4s;
    transition-duration:0.4s;
}
.ToggleMessage {
    display:none
}

/* ================================= CONTACT FORM ================================= */

.input_box {
  font-size:20px;
  width:405px;
}
.submit_button {
  background-color:rgba(255,255,255,0);
  color:rgb(222,222,222);
  text-align:center;
  text-decoration:none;
  border:1px solid white;
  font-size:20px;
  cursor:pointer;
}
.submit_button:hover {
  color:rgba(222,222,222,0.5);
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
}

/* ================================= MODAL WINDOW ================================= */

.modal {
  background-color:rgba(0,0,0,0.75);
  display:none;
  position:fixed;
  padding-top:100px;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:1;
}
.modal_content {
  width:500px;
  height:auto;
  margin:auto;
  animation-name:modalfade;
  animation-duration:0.8s
  -webkit-animation-name:modalfade; /* Safari */
  -webkit-animation-duration:0.8s; /* Safari */
  box-shadow: 0 10px 10px 0 rgba(255,255,255,0.2),0 10px 10px 0 rgba(255,255,255,0.2);
}
@-webkit-keyframes modalfade {
  from {top:-300px; opacity:0} to {top:0; opacity:1}
}
@keyframes modalfade {
  from {top:-300px; opacity:0} to {top:0; opacity:1}
}
.modal_header,
.modal_footer {
  background-color:rgb(13,13,13);
  padding:2px 15px;
}
.modal_body {
  background-color:rgb(25,25,25);
  overflow-y:auto;
  padding:2px 15px;
}
.modal_close {
  float:right;
  padding:2px 15px;
  font-size:40px;
  transition-duration:0.4s;
  -webkit-transition-duration:0.4s;
}
.modal_close:hover {
  color:rgba(222,222,222,0.5);
  text-decoration:none;
  cursor:pointer;
}

/* ================================= SCROLLBAR ================================= */

::-webkit-scrollbar {
  width:15px
}
::-webkit-scrollbar-track {
  background:rgb(0,0,0)
}
::-webkit-scrollbar-thumb {
  background:rgb(50,50,50)
}
::-webkit-scrollbar-thumb:hover {
  background:rgb(100,100,100)
}
